<div class="badge" *ngIf="note"><i class="fa fa-sticky-note"></i></div>

<div class="metadata" *ngIf="showText" [@shrinkHeight] [class.clickable]="editable" (click)="setupNoteEdit()">
    <label>
        <span *ngIf="showUserName">{{note.addedUser.firstName}} {{note.addedUser.lastName}}</span>
        <span *ngIf="!showUserName">You</span>

        <span *ngIf="note.teams && note.teams.length == 1"><em>{{note.teams[0].name}}</em></span>

        <span>{{simpleDate}}</span>

        <i class="fa"
            [class.fa-rocket]="note.game"
            [class.fa-hashtag]="note.tag"
            [class.fa-group]="note.metadata && note.metadata.type == 'playerCount'"
            [class.fa-clock-o]="note.metadata && note.metadata.type == 'duration'"
            ></i>
        
        <em *ngIf="note.game && !showLinks" title="In regards to this game specifically.">{{game.names[0].name}}</em>
        <a *ngIf="note.game && showLinks" title="In regards to this game specifically." [routerLink]="'/app/game/' + game._id">{{game.names[0].name}}</a>

        <em *ngIf="note.tag" title="In regards to any game with this tag.">{{note.tag.name}}</em>
        <em *ngIf="note.metadata && note.metadata.type == 'playerCount'"
            title="In regards to any game with this number of players.">{{note.metadata.name}}</em>
        <em *ngIf="note.metadata && note.metadata.type == 'duration'"
            title="In regards to any game with this duration.">{{note.metadata.name}}</em>
    </label>
    <div class="description" #description [innerHTML]="descriptionHtml"></div>
</div>

<div class="metadata" [class.no-margin]="!note" [@shrinkHeight] *ngIf="showEdit">
    <textarea formInput
        name="noteInput"
        [placeholder]="note ? 'Edit Note' : 'Add a Note'"
        rows="5"
        #noteinput
        [(ngModel)]="noteInput"></textarea>

    <div class="button-group" [@shrinkHeight] *ngIf="showControls">

        <div class="left">
            <button class="button" *ngIf="note" (click)="deleteNote()">Delete</button>

            <label title="Make this note public?" *ngIf="superAdmin">
                <i class="fa std fa-globe"></i>
                <input formSwitch name="noteTeam" type="checkbox" [(ngModel)]="notePublic" />
            </label>
        </div>

        <div class="id-editable-metadata"
            [canEdit]="true"
            [allowBlank]="false"
            [options]="noteContextOptions"
            (save)="setNoteContext($event)"></div>

        <div class="button-group combined">
            <label title="Share this note with all of your teams?" *ngIf="showTeamShare" (click)="teamShareToggle()">
                <i class="fa std fa-users"></i>
                <input formSwitch name="noteTeam" type="checkbox" [(ngModel)]="noteTeam" [partial]="noteTeamPartial" />
            </label>

            <div class="menu drop up open" *ngIf="teamSelectionMenuVisible" [@shrinkHeight]>
                <label>Select which teams should see this note</label>
                <div class="item" *ngFor="let teamSel of teamSelection; let i = index">
                    <label (click)="toggleTeamSelection(i)">
                        <span>{{teamSel.team.name}}</span>
                        <input formSwitch name="noteTeam" type="checkbox" [(ngModel)]="teamSel.selected" />
                    </label>
                </div>
            </div>
            <button class="button small subdued"
                [class.active]="teamSelectionMenuVisible"
                [class.raised]="noteTeamPartial"
                *ngIf="teamSelection.length > 1"
                (click)="teamSelectionMenuVisible = !teamSelectionMenuVisible"
                title="Share this note with specific teams?">
                    <i class="fa std fa-cog"></i>
            </button> 
        </div>

        <button class="button" *ngIf="note" (click)="cancelEdit()">Cancel</button>

        <button class="button raised" [class.disabled]="!noteInput" (click)="saveNote()">Save</button>

    </div>

    <div class="button-group" [@shrinkHeight] *ngIf="showDeleteConfirm">
        
        <label class="left">Are you sure?</label>
        <button class="button left" (click)="cancelDelete()">No</button>
        <button class="button left" (click)="doDeleteNote()">Yes</button>

    </div>
</div>