<marketing-toolbar [on]="(pageStart - _app.scrollpos) <= 20"></marketing-toolbar>

<landing-hero [improv]="true"></landing-hero>

<div (window:resize)="setupSize()" class="landing-holder"></div>

<div class="page">

    <div class="paper center">

        <div class="block">

            <h2>the<span class="light">improv</span><strong>database</strong></h2>

            <p>What if there was a place for Improv?</p>

            <p>What if we could instantly connect with other Improvisers on a local, regional, national, and even global scale? What if we could utilize the power of modern technology to stop having to deal with the headaches of practicing and performing Improv? What if we could have an easy to use set of tools to help us promote what we do? What if we could easily connect our talents and knowledge with others in order to actually start making money doing what we love?</p>

            <p>Now we can. Welcome to the <span class="light">improv</span><strong>database</strong>. Let me know if you need anything.</p>

            <p>- Shauvon McGill, creator</p>
            
        </div>

        <div class="block">

            <h2>my promises to you</h2>

            <div class="columns responsive">
                <div>
                    <i class="fa fa-user-plus huge"></i>
                    <h5>Pay What you Want</h5>
                    <p>I don't want to hide these tools behind a paywall. However, if you think it's worth something to you, your support will allow me to keep working on it (and pay my recurring costs for servers and other technobabble).</p>
                </div>

                <div>
                    <i class="fa fa-rocket huge"></i>
                    <h5>The Helpfullest Tools</h5> 
                    <p>I have specifically built tools to solve problems I have seen as a member of an active Improv group. Hopefully that means they can help others, too. I want you to let me know what would make the Improv Database even better.</p>
                </div>

                <div>
                    <i class="fa fa-share-alt huge"></i>
                    <h5>Total Transparency</h5> 
                    <p>This isn't some secret for-profit project (anymore). I don't want to promise things that don't (and may never) exist, but I also want to be up-front about what I'm working on and what's on the horizon.</p>
                </div>
            </div>
        </div>

        <div class="block">
            <div class="columns spaced">
                <a routerLink="/signup" class="button raised large">Join Now</a>
            </div>
        </div>

    </div>

    <div class="hero">

        <div class="content">

            <h3>features</h3>

            <p>An account on the Improv Database app will let you use the things I've built so far, and let you in on the things I'm hoping to get built some day. Most of these are ideas for what I want to have some day. I'm always looking for new ideas or for your thoughts on which of these ideas would be most valuable to work on first.</p>

            <div class="card-list span3 block">

                <div class="card blue">
                    <h4>Game Database</h4>
                    <p>View our collection of over 200 Improv warmups, exercises, and games. Keep track of your favorites, and save notes on each one for future reference.</p>
                </div>

                <div class="card blue">
                    <h4>Glossary</h4>
                    <p>Get the answers you seek with our comprehensive Improv reference guide. I mean, why not, right?</p>
                </div>

                <div class="card blue">
                    <h4>Team Profiles</h4>
                    <p>Register your Improv Group (the app calls them "Teams"). You'll be able to share content and ideas with your teammates and collaborate in a private space.</p>
                </div>

                <div class="card blue">
                    <h4>Event Calendars</h4>
                    <p>Keep track of your own personal Improv events, and manage all of your team's as well. Find out when your teammates are available and track all the chores you have to do to prepare for shows and whatnot.</p>
                    <em class="message">Coming soon!</em>
                </div>

                <div class="card blue">
                    <h4>Public Team Profiles</h4>
                    <p>Enter just a few important pieces of information, upload a few pictures, save your show schedule, and with the push of a button you'll suddenly have a public website that you can share with the world!</p>
                    <em class="message">Coming soon!</em>
                </div>

                <div class="card blue">
                    <h4>Team Stores</h4>
                    <p>Sell your merch, tickets to your shows, or junk you have sitting around in your garage - I don't care!</p>
                    <em class="message">Coming soon!</em>
                </div>

                <div class="card blue">
                    <h4>Community</h4>
                    <p>Connect with other Improvisers around the world and share your thoughts, triumphs and ideas.</p>
                    <em class="message">Coming soon!</em>
                </div>

                <div class="card blue">
                    <h4>Videos</h4>
                    <p>Browse examples, lessons, tips and tricks, and other stuff that we love.</p>
                    <em class="message">Coming soon!</em>
                </div>

                <div class="card blue">
                    <h4>Hire a Coach</h4>
                    <p>Hire an expert (and fully verified) Improv coach to help your team, whether it's for a one-time workshop or ongoing training.</p>
                    <em class="message">Coming soon!</em>
                </div>

                <div class="card blue">
                    <h4>Get Hired</h4>
                    <p>Register to become an Improv Coach, share your talents with businesses and Improv Teams, and make money doing it.</p>
                    <em class="message">Coming soon!</em>
                </div>

                <div class="card blue">
                    <h4>Editorials</h4>
                    <p>Don't call it a Blog (because it isn't 2007 anymore)! Stay up to date on the latest trends, ideas, and philosophies on Improv.</p>
                    <em class="message">Coming soon!</em>
                </div>

            </div>

            <div class="columns spaced block">
                <a routerLink="/signup" class="button raised large">Get in on this</a>
            </div>

        </div>    

    </div>

    <div class="paper center">

        <h2>what year is it?</h2>

        <div class="block">
            <p>It turns out that computers are really good at a few things. Comedy? Not so much. Organizing and presenting sets of data? Connecting people with other people who have similar interests or motivations? Those things are kind of what computers were designed for (they can leave the comedy to us). I think it's time the Improv community took advantage of that - don't you?</p>

            <p>Let's stop acting like it's still 2006 with our MySpace pages, hard to use and unsophisticated websites, and hacked together word documents with unorganized lists of games in them. I know we all have our "real lives" that get in the way of really dedicating ourselves to doing Improv. That's fine - you do what you have to do. The point is, we should have a set of tools that can take care of the rest for us.</p>
            
            <p>I just want to make it easier for you to just get on with the fun part of doing Improv.</p>
        </div>

        <div class="columns spaced">
            <a routerLink="/signup" class="button raised large">Sign up Already</a>
        </div>

    </div>

</div>