<marketing-toolbar [on]="(_app.scrollpos) > 20" [onWhenOpen]="true"></marketing-toolbar>

<landing-hero [showContent]="false"></landing-hero>

<div class="page" #page>

    <div class="blackbox center">
        <h2><span class="light">yes</span> <strong>and</strong></h2>
        <p>Register an account on the Improv Database and you can get all up in there.</p>
    </div>

    <div class="block card-list center">

        <div class="card">

            <i class="fa fa-user"></i>

            <!--<p>Let's get the important details first (you can fill in more info about yourself later).</p>-->

            <input
                autocomplete="off"
                formInput
                name="userName"
                placeholder="Your Name"
                [(ngModel)]="userName"
                type="text" />

            <input name="email"
                [(ngModel)]="email"
                (input)="emailInput()"
                placeholder="Email"
                formInput
                required
                autocomplete="off"
                type="text" />
            <span class="error" *ngIf="emailError">{{emailError}}</span>
            
            <input name="password" 
                [(ngModel)]="password"
                placeholder="Password"
                formInput
                required
                autocomplete="off"
                type="password" />

            <!--<p>Pay what you want.</p>-->

            <div class="payment-info">
                <form id="payment-form" #paymentForm="ngForm">
                    <div class="form-row">
                        <input name="pledge" 
                            [(ngModel)]="pledge"
                            placeholder="Monthly Pledge"
                            [helpLink]="'Pay what you want.'"
                            (helpClicked)="showPledgeInfo()"
                            formInput
                            autocomplete="off"
                            type="text" />

                        <label for="card-element">
                            Credit or debit card number
                        </label>
                        <div id="card-element">
                        <!-- a Stripe Element will be inserted here. -->
                        </div>

                        <!-- Used to display form errors -->
                        <div class="StripeCardErrors" *ngIf="cardError">{{cardError}}</div>

                        <label><em>Payment processing is all handled securely by Stripe, so your information is safe.</em></label>
                        
                    </div>
                </form>
            </div>


            <!--<p>Just to make sure we're all on the same page, you'll have to <a (click)="showTerms()">check out our terms</a> and give them the thumbs up.</p>

                <p>
                    <label class="icon-choice">
                        <i class="fa fa-thumbs-o-down"></i>
                        <input type="checkbox" formSwitch class="inline-block" name="terms-accepted" [(ngModel)]="termsAccepted" />
                        <i class="fa fa-thumbs-o-up"></i>
                    </label>
                </p>-->

            <div class="button-group">
                <button class="button raised" (click)="submitPayment()" [class.disabled]="!isFormValid()">Join</button>
            </div>

        </div>

    </div>


</div>


<div class="dialog-container" [class.show]="pledgeInfoDialogVisible">
    <div class="dialog-dismiss" (click)="hidePledgeInfo()"></div>

    <div class="dialog" [@dialog]="'default'" *ngIf="pledgeInfoDialogVisible">

        <div class="dialog-content">
            <h2>Pay what you want.</h2>
            
            <p>You can enter whatever you think this project is worth to you. $5.00? $1.00? $0.50? $0.00?</p>
            <p>You certainly don't have to pay anything to use this app (though I do reserve the right to only allow paying users into certain areas to keep out ne'erdowells and trolls).</p>
            <p>Your emotional and spiritual support is wonderful and they are what motivate me to keep working on this project, but a bit of financial support would be pretty helpful too. Keeping things running is not free, so even $0.10 / month would help me keep the lights on.</p>
            <p>I don't want to get too preachy, but just keep in mind that I built and maintain this whole thing entirely by myself in my spare time.</p>
            <p>Please note that the number you enter is a monthly pledge, so this amount will be charged to your card every month. You can change this amount at any time within your account.</p>

        </div>

        <div class="button-group">
            <div class="button" (click)="hidePledgeInfo()">Okay Bye</div>
        </div>

    </div>
</div>


<div class="dialog-container" [class.show]="termsDialogVisible">
    <div class="dialog-dismiss" (click)="hideTerms()"></div>

    <div class="dialog" [@dialog]="'default'" *ngIf="termsDialogVisible">

        <div class="dialog-content">
            <h2>Our Terms</h2>
            <legal-view></legal-view>
        </div>

        <div class="button-group">
            <div class="button" (click)="hideTerms()">Okay Bye</div>
        </div>

    </div>
</div>