<div class="toolbar"
    [class.on]="_app.toolbarVisible"
    [tools]="_tools"
    [title]="title"
    ></div>

<div class="page">

    <!--<div class="paper-label big">
        welcome to <span class="light">improv</span><strong>plus</strong>
    </div>-->

    <dashboard-message-list></dashboard-message-list>

    <div class="card-list">

        <div class="paper-label big" *ngIf="userService.getLoggedInUser() && !userService.isExpired()">
            go to there
        </div>

        <div routerLink="/app/games" class="card small yellow clickable" *ngIf="userService.can('game_page_view')">
            <div class="top">
                <div class="content">
                    <h3>Game Database</h3>
                </div>
            </div>
            <div class="body">
                <p>View the collection of over 200 Improv games.</p>
            </div>
        </div>

        <div routerLink="/app/glossary" class="card small clickable" *ngIf="userService.can('glossary_page_view')">
            <div class="top">
                <div class="content">
                    <h3>Glossary</h3>
                </div>
            </div>
            <div class="body">
                <p>A list of descriptions for (a bunch of) the tags in the database.</p>
            </div>
        </div>

    </div>

</div>