<div class="toolbar"
    [class.on]="_app.toolbarVisible"
    [tools]="_tools"
    [title]="title"
    ></div>

<div class="page">

        <div class="card-list">

            <div class="clickable id-team-card"
                (click)="selectTeam(team)"
                [team]="team"
                [admin]="true"
                *ngFor="let team of adminOfTeams">
            </div>

            <div class="clickable id-team-card"
                (click)="selectTeam(team)"
                [team]="team"
                *ngFor="let team of memberOfTeams">
            </div>

        </div>

</div>