<div class="toolbar"
    [class.on]="_app.toolbarVisible"
    [tools]="_tools"
    [title]="title"
    ></div>

<div class="page">

    <div class="paper">

        <!-- user doesn't have permission -->
        <div *ngIf="!userService.isExpired()">
            <h4 class="right">Access Denied</h4>

            <p>We are terribly sorry, but you do not have permission to view whatever it was you were trying to view.</p>

            <div class="button-group center">
                <button class="button raised" routerLink="/app/dashboard" *ngIf="can('dashboard_page_view')">Return to your Dashboard</button>
            </div>
        </div>

        <!-- user doesn't have permission -->
        <div *ngIf="userService.isExpired()">
            <h4 class="right">Subscription Expired</h4>

            <p>We are so terrifically sorry, but you cannot access that content with an expired subscription, which you have. That's nothing to be ashamed of, you can renew it right now!</p>

            <div class="button-group center">
                <button class="button raised" routerLink="/app/dashboard" *ngIf="can('dashboard_page_view')">Return to your Dashboard</button>
            </div>
        </div>

        <!-- user is locked -->
        <div *ngIf="userService.isLocked()">
            <h4 class="right">account locked</h4>

            <p>Your account has been locked by an Administrator. If you feel this was in error, please contact us at contact@improvpl.us (be sure to include the Email address associated with your account so we can look it up).</p>

        </div>

        <!-- no subscription at all?! -->
        <div *ngIf="!can('subscription_view') && !userService.isLocked()">
            <h4 class="right">join <span class="light">improv</span><strong>plus</strong></h4>

            <p>I'm not totally sure how you got here. I'm supposed to tell you that you have no subscription, but the app shouldn't be enforcing subscriptions anymore. Huh, feel free to try getting in touch with me to get this figured out.</p>

            <div class="button-group center">
                <button class="button raised" routerLink="/signup">Sign Up</button>
            </div>
        </div>

    </div>

</div>