<div class="toolbar"
    [title]="title"
    [class.on]="_app.toolbarVisible"
    [tools]="_tools"
    (toolClicked)="onToolClicked($event)"></div>

<div class="page">

    <div class="tabs">
        <span class="tab" 
            *ngFor="let tab of tabs"
            [class.active]="tab.id == selectedTab"
            (click)="selectTab(tab)">
            <i class="fa fa-{{tab.icon}}"></i>
            <span>{{tab.name}}</span>
        </span>
    </div>

    <div class="paper" *ngIf="user && selectedTab == 'user'">

        <div class="content">
            <user-form
                [user]="user"
                [isPosting]="isPosting"
                [backText]="'Log Out'"
                (back)="_app.logout()"
                (valid)="submitEditUser($event)"></user-form>
        </div>

    </div>

    <div class="paper" *ngIf="subscription && selectedTab == 'subscription'">

        <div class="card-list">

            <div class="card" *ngIf="subscription">
                <div class="top">
                    <i class="fa fa-id-card-o"></i>
                    <div class="content">
                        <h4 class="light">Your <strong>{{subscription.roleName}}</strong> Subscription</h4>
                        <h4 class="light">Expires</h4>
                        <h4 class="light" *ngIf="userService.isExpired()">Expired</h4>
                        <h3>{{getDate(subscription.expiration)}}</h3>
                    </div>
                </div>
                <div class="body">
                    <p>Activated {{getDate(subscription.start)}}</p>

                    <p *ngIf="!changePledgeShown">${{subscription.pledge.toFixed(2)}} / Month (<a (click)="showChangePledge()">change</a>)</p>
                    
                    <div *ngIf="changePledgeShown" class="payment-info" [@shrinkHeight]>
                        <form id="payment-form" #paymentForm="ngForm">
                            <div class="form-row">
                                <input name="pledge" 
                                    [(ngModel)]="pledge"
                                    placeholder="Monthly Pledge"
                                    formInput
                                    autocomplete="off"
                                    type="text" />

                                <label for="card-element">
                                    Credit or debit card number (leave it blank if you're setting your pledge to 0)
                                </label>
                                <div id="card-element">
                                <!-- a Stripe Element will be inserted here. -->
                                </div>

                                <!-- Used to display form errors -->
                                <div class="StripeCardErrors" *ngIf="cardError">{{cardError}}</div>

                                <label><em>Payment processing is all handled securely by Stripe, so your information is safe.</em></label>
                                
                            </div>
                            <div class="button-group">
                                <button *ngIf="!isPosting" class="button raised" [class.disabled]="!pledgeFormValid()" (click)="savePledge()">Save</button>
                                <div *ngIf="isPosting" class="button"><i class="loading"></i></div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="action">
                    <a (click)="cancelSubscription()" class="button">Delete Your Account</a>
                </div>
            </div>

        </div>

    </div>

</div>