<div class="toolbar"
    [class.on]="_app.toolbarVisible"
    [tools]="_tools"
    [title]="title"
    (goBack)="back()"
    (toolClicked)="onToolClicked($event)"
    ></div>

<div class="page">

    <div class="tabs">
        <span class="tab" 
            *ngFor="let tab of tabs"
            [class.active]="tab.id == selectedTab"
            (click)="selectTab(tab)">
            <i class="fa fa-{{tab.icon}}"></i>
            <span>{{tab.name}}</span>
        </span>
    </div>

    <!-- History List -->
    <div class="paper" *ngIf="selectedTab == 'history'">

        <div class="content">

            <h4 class="right">History of Everything</h4>

            <div class="right columns">
                <label title="Include logins" (click)="filterHistory()">
                    <i class="fa std fa-sign-in"></i>
                    <input formSwitch name="showLogins" type="checkbox" [(ngModel)]="historyShowLogin" />
                </label>

                <label title ="Include refreshes" (click)="filterHistory()">
                    <i class="fa std fa-refresh"></i>
                    <input formSwitch name="showRefresh" type="checkbox" [(ngModel)]="historyShowRefresh" />
                </label>

                <label title ="Include other stuff" (click)="filterHistory()">
                    <i class="fa std fa-history"></i>
                    <input formSwitch name="showStuff" type="checkbox" [(ngModel)]="historyShowStuff" />
                </label>
            </div>

            <div class="list" infiniteScroll [disable]="isPosting" (load)="loadMoreHistory($event)">

                <div class="item clickable" [class.large]="history == expandedHistory" *ngFor="let history of histories" (click)="expandHistory(history)">
                    
                    <div class="badge">
                        <i class="fa {{getHistoryIcon(history)}}"></i>
                    </div>
                    <div class="metadata">    
                        <div class="row columns fill">
                            <span *ngIf="history.user">{{history.user.firstName}} {{history.user.lastName}}</span>
                            <span *ngIf="history.user && !history.user.firstName && !history.user.lastName">{{history.user.email}}</span>
                            <span *ngIf="!history.user">Unknown user</span>
                            
                            <span>{{simpleDateTime(history.date)}}</span>
                        </div>
                        <div class="row columns fill">
                            <span>{{history.action}}</span>

                            <a href="#" (click)="historyLink($event, history)">{{history.target}}</a>

                            <span>
                                <span *ngFor="let change of history.changes">{{change.property}}</span>
                            </span>
                        </div>

                        <div class="description" *ngIf="history == expandedHistory">
                            <hr />

                            <h5 *ngIf="expandedHistoryTargetName == 'loading'"><span class="loading"></span></h5>
                            <h5 *ngIf="expandedHistoryTargetName != 'loading'" [innerHTML]="expandedHistoryTargetName"></h5>

                            <div class="columns" *ngFor="let change of history.changes">
                                <div>
                                    <h5>Old {{change.property}}</h5>
                                    <div>{{change.old}}</div>
                                </div>
                                <div>
                                    <h5>New {{change.property}}</h5>
                                    <div>{{change.new}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="item center" *ngIf="isPosting">
                    <span class="loading"></span>
                </div>

            </div>

        </div>

    </div>

</div>