<div class="toolbar"
    [title]="title"
    [class.on]="_app.toolbarVisible"
    [tools]="_tools"
    (toolClicked)="onToolClicked($event)"
    [showBack]="user.memberOfTeams.length + user.adminOfTeams.length > 1"
    (goBack)="goBack()"
    ></div>

<div class="page">

    <div class="tabs">
        <span class="tab" 
            *ngFor="let tab of tabs"
            [class.active]="tab.id == selectedTab"
            (click)="selectTab(tab)">
            <i class="fa fa-{{tab.icon}}"></i>
            <span>{{tab.name}}</span>
        </span>
    </div>

    <!-- team details -->
    <div class="paper" *ngIf="selectedTab == 'team' && team">

        <h4 class="right id-editable-metadata"
            [text]="team.name"
            [blankText]="'The Company with No Name'"
            [canEdit]="can('team_edit')"
            (save)="saveEditName($event)"></h4>

        <div class="metadata horizontal">

            <span class="bullet id-editable-metadata"
                [text]="team.phone"
                [blankText]="'No Phone Number'"
                [icon]="'phone'"
                [canEdit]="can('team_edit')"
                (save)="saveEditPhone($event)"></span>

            <span class="bullet id-editable-metadata"
                [text]="team.email"
                [blankText]="'No Email'"
                [icon]="'envelope'"
                [canEdit]="can('team_edit')"
                (save)="saveEditEmail($event)"></span>

            <span class="bullet id-editable-metadata"
                [text]="team.url"
                [blankText]="'No URL'"
                [icon]="'link'"
                [canEdit]="can('team_edit')"
                (save)="saveEditURL($event)"></span>

            <span class="id-editable-metadata"
                [address]="team.address"
                [city]="team.city"
                [state]="team.state"
                [zip]="team.zip"
                [country]="team.country"
                [type]="'address'"
                [blankText]="'No Address'"
                [canEdit]="can('team_edit')"
                (saveAddress)="saveEditAddress($event)"></span>

        </div>

        <hr />

        <div class="description" 
            [innerHTML]="descriptionHtml"
            *ngIf="!editDescriptionShown"></div>

        <textarea name="description"
            class="description"
            [(ngModel)]="newDescriptionText" 
            *ngIf="editDescriptionShown"></textarea>

        <div class="button-group" *ngIf="can('team_edit')">
            <div class="button" *ngIf="!editDescriptionShown" (click)="showEditDescription()">Edit Description</div>
            
            <label class="left" *ngIf="editDescriptionShown">Hey! We support <a href="http://www.markdowntutorial.com/" target="_blank">Markdown</a>!</label>
            <div class="button" *ngIf="editDescriptionShown" (click)="cancelDescription()">cancel</div>
            <div class="button raised" *ngIf="editDescriptionShown" (click)="saveDescription()">SAVE</div>
        </div>

    </div>

    <!-- member list -->
    <div class="paper" *ngIf="selectedTab == 'members' && team">

        <div class="list">
            <div class="item id-user-card clickable" *ngFor="let user of [].concat(team.admins, team.members)"
                [user]="user"
                [team]="team"
                [class.selected] = "user === selectedUser"
                (click)="selectUser(user)"
                (removeUserFromTeam)="removeUserFromTeam($event)"
                (promoteUser)="promoteUser($event)"
                (demoteUser)="demoteUser($event)">
            </div>

            <div class="item clickable" *ngFor="let invite of team.invites"
                [class.selected] = "invite === selectedInvite"
                (click)="selectInvite(invite)">

                <div class="badge text-orange">
                    <i class="fa fa-envelope-open-o" *ngIf="!invite.inviteUser" title="We sent an email for this new user to sign up."></i>
                    <i class="fa fa-user" *ngIf="invite.inviteUser" title="This is already a user on the Improv Database."></i>
                </div>

                <div class="metadata">
                    <div class="row" *ngIf="!invite.inviteUser">
                        <h5>{{invite.email}}</h5>
                    </div>
                    <div class="row" *ngIf="invite.inviteUser">
                        <h5>{{invite.inviteUser.firstName ? invite.inviteUser.firstName + ' ' + invite.inviteUser.lastName : invite.email}}</h5>
                    </div>

                    <div class="row">
                        <span><i class="fa fa-clock-o"></i> Invite sent: {{_timeUtil.simpleDate(invite.date)}}</span>
                    </div>
                </div>

                <div class="action">
                    <div class="button" title="Cancel this invitation?!" *ngIf="isUserAdmin()" (click)="cancelInvite(invite)"><i class="fa fa-times"></i></div>
                </div>
            </div>
        </div>

        <div class="right">
            <p>Total Users: <span class="tag grey">{{team.admins.length + team.members.length}}</span></p>
            <p *ngIf="team.invites && team.invites.length">Pending Invites: <span class="tag orange">{{team.invites.length}}</span></p>

            <div class="right">
                <div class="button-group">
                    <div class="button" (click)="leave()">Leave Team</div>
                    <div class="button raised" *ngIf="isUserAdmin()" (click)="invite()">Invite Someone</div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="dialog-container" [class.show]="showInviteDialog">
    <div class="dialog-dismiss" (click)="cancelInviteDialog()"></div>

    <div class="dialog invite-form" *ngIf="showInviteDialog && !inviteStatus" [@dialog]="'default'">

        <form class="block" name="invite" (ngSubmit)="submitInvite()" #inviteForm="ngForm">
            <div class="dialog-content">
                <h2>Invite Someone to {{team.name}}</h2>
                
                <p>Enter the email address of a colleague you wish to invite into {{team.name}}, and we will invite them to join your Company.</p>
                
                <p *ngIf="remainingSubs > 0">If the email address is not already registered on the app, this will use one of the available subscriptions on your Company profile.</p>

                <p *ngIf="remainingSubs == 0">Your Company is out of subscriptions, so any users you invite will need to already have their own subscription for you to invite them.</p>

                <input name="email" formInput [asterisk]="false" [(ngModel)]="inviteEmail" required type="text" placeholder="Email" />

                <span class="error" *ngIf="inviteError">{{inviteError}}</span>

            </div>

            <div class="button-group" *ngIf="!isPosting">
                <a (click)="cancelInviteDialog()" class="button">Cancel</a>
                <input type="submit" class="button raised" value="Send" [disabled]="!inviteForm.form.valid" />
            </div>

            <div class="button-group" *ngIf="isPosting">
                <div class="button"><i class="loading"></i></div>
            </div>
        </form>

    </div>

    <div class="dialog invite-form" *ngIf="showInviteDialog && inviteStatus=='new'" [@dialog]="'default'">

        <div class="dialog-content">
            <h2>Invite Sent!</h2>

            <p>Your invite is on its way. We will let you know when your colleague signs up. You can also check the status of your invite (and cancel it) here on your Team's profile.</p>
        </div>

        <div class="button-group">
            <a (click)="cancelInviteDialog()" class="button">Okay Bye</a>
        </div>

    </div>

    <div class="dialog invite-form" *ngIf="showInviteDialog && inviteStatus=='exists'" [@dialog]="'default'">

        <div class="dialog-content">
            <h2>Invite Sent!</h2>

            <p>Good news! That email address is registered to an account already, so they will be able to join up as soon as they log into the app. You can also check the status of your invite (and cancel it) here on your Company's profile.</p>
        </div>

        <div class="button-group">
            <a (click)="cancelInviteDialog()" class="button">Okay Bye</a>
        </div>

    </div>

</div>