<div class="toolbar"
    [title]="title"
    [class.on]="_app.toolbarVisible"
    [tools]="_tools"
    (toolClicked)="onToolClicked($event)"></div>

<div class="page">

    <div class="tabs">
        <span class="tab" 
            *ngFor="let tab of tabs"
            [class.active]="tab.id == selectedTab"
            (click)="selectTab(tab)">
            <i class="fa fa-{{tab.icon}}"></i>
            <span>{{tab.name}}</span>
        </span>
    </div>

    <div class="paper" *ngIf="user && selectedTab == 'user'">

        <div class="content">
            <user-form 
                [user]="user"
                [isPosting]="isPosting"
                [backText]="'Log Out'"
                (back)="_app.logout()"
                (valid)="submitEditUser($event)"></user-form>
        </div>

    </div>

    <div class="paper" *ngIf="subscription && selectedTab == 'subscription'">

        <div class="card-list">

            <div class="card" *ngIf="subscription">
                <div class="top">
                    <i class="fa fa-id-card-o"></i>
                    <div class="content">
                        <h4 class="light">Your <strong>{{subscription.roleName}}</strong> Subscription</h4>
                        <h4 class="light">Expires</h4>
                        <h4 class="light" *ngIf="userService.isExpired()">Expired</h4>
                        <h3>{{getDate(subscription.expiration)}}</h3>
                    </div>
                </div>
                <div class="body">
                    <p>Activated {{getDate(subscription.start)}}</p>

                    <p *ngIf="subscription.parent">Inherited from <strong>{{subscription.parent.team.name}}</strong></p>
                    <p *ngIf="subscription.parent">When {{subscription.parent.team.name}}'s Subscription is renewed, yours will be too.</p>
                </div>
                <div class="action">
                    <a (click)="cancelSubscription()" class="button" *ngIf="!userService.isExpired()">Cancel Your Subscription</a>
                    <a (click)="cancelSubscription()" class="button" *ngIf="userService.isExpired()">Renew Your Subscription</a>
                </div>
            </div>

        </div>

    </div>

</div>