footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 5;
    height: $toolbar-height;
    padding: 0 $paper-margin-horizontal;
    font-size: 13px;
    font-weight: 300;

    a {
        color: $color-text;
        text-decoration: underline;
        cursor: pointer;
    }

    @media #{$media-mobile} {
        padding: 0 $std;
        flex-wrap: wrap;
    }
}