@import "./mixins/elevation";
@import "./mixins/mixins";

@import "vars";

$paper-bg: rgba(255,255,255,0.9);

.curtain {
    @include abs(0, 0, null, 0, 1);
    height: $curtain-height;
    overflow: hidden;

    @include background-linear-gradient-down($color-curtain-fade, 12px, $color-curtain, ($toolbar-height * 1.8), $color-curtain);

    img {
        width: 100%;
    }

    .parallax {
        position: relative;
    }

    h2 {
        font-weight:bold;
        font-size: $curtain-height;
        color: $color-secondary;
        transform: rotateZ(-20deg);
        transform-origin: 0 0;
        @include abs(0, null, null, ($curtain-height * 0.6));
        text-indent: -$curtain-height;
        line-height: 0.8;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);

        @media #{$media-mobile} {
            top: -5%;
        }
    }
}

.background {
    @include abs(0,0,0,0,0);
    background: $color-curtain;
    transform-origin: 50% 0;
}

.page {
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
    padding: ($toolbar-height + $std) 0;
    margin-bottom: -($toolbar-height);

    @media #{$media-mobile} {
        padding-left: $std;
        padding-right: $std;
    }

    .curtain {
        display: none;
        @include abs(0, 0, null, 0, 1);
        height: $curtain-height;

        @include background-linear-gradient-down($color-curtain-fade, 12px, $color-curtain, ($toolbar-height * 1.8), $color-curtain); 
    }

    .paper-label {
        font-size: 16px;
        padding: $std 0;
        margin: 0 $paper-margin-horizontal;
        position: relative;
        z-index: 2;
        transition: color 200ms;
        display: flex;

        @media #{$media-mobile} {
            margin: 0;
        }

        &.big {
            padding: ($large * 2) $std;
            font-size: 32px;
            text-align: center;
        }

        &.closed {
            color: $color-hr;
        }

        .button-group {
            flex: 1;
            margin-top: 0;

            label {
                margin-top: 0;
                line-height: $std;
                height: auto;
            }
        }
    }

    h4 {
        font-size: 28px;

        input {
            font-size: 20px;
        }
    }

    h5 {
        font-size: 18px;
    }

    .tabs {
        margin: 0 ($toolbar-height / 2)+2 0;
        // position: relative;
        // z-index: 3;
        padding: 0 $border-radius;

        &:first-child {
            margin-top: ($curtain-height * 0.3);
        }

        .tab {
            position: relative;
            z-index: 3;
        }

        @media #{$media-mobile} {
            margin: 0;
        }
    }

    .paper {
        border-radius: $border-radius;
        @include md-elevation($card-elevation-default);
        background: $paper-bg;
        padding: $std $large;
        position: relative;
        z-index:  2;
        margin: 0 $paper-margin-horizontal $std;
        @include md-elevation-transition('padding 200ms');

        @media #{$media-mobile} {
            margin: 0 0 $std;
            // padding: $toolbar-height (($toolbar-height * 0.75) + $std);

            & > .list .item {
                padding: $std 0;

                .no-margin {
                    margin: -8px 0;
                }
            }
        }

        &:first-child {
            margin-top: ($curtain-height * 0.3);
        }

        &.list {
            padding: 0;
        }

        & > .content {
            position: relative;
            z-index: 6;
        }

        & .metadata {
            position: relative;
            z-index: 7;

            &.horizontal {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
            }
        }

        .description, .description p {
            line-height: 1.25;
        }

        .paper-toggle {
            @include abs($small, $std, null, null, 2);
        }

        &.closed {
            @include md-elevation(1);
            padding-bottom: 0;
        }
    }

    &.fullbg {
        //background: $color-secondary;

        .paper:first-child {
            margin-top: 0;
        }
    }
}

game-details {
    h4 {
        span {
            vertical-align: middle;
        }
        .fa-plus-circle {
            font-size: 0.5em;
            vertical-align: middle;
            display: inline-block;
        }
        input {
            text-align: right;
        }
    }
    textarea {
        height: 10em;
    }
}